.login-page {
    display: flex;
    flex-direction: column;
}

.auth-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.auth-component {
    width: 450px;
    display: flex;
    flex-direction: column;
}