.root {
    flex: 1;
    text-align: center;
}

.root .hero {
    flex-wrap: wrap;
    flex: 1;
    display: flex;
    color: #CAD2C5;
    background-image: url("/background.png");
    justify-content: center;
    align-items: center;
    padding: 24px 0 24px 0;
}

.root .hero-image {
    margin-left: 120px;
    height: 75%;
    overflow: hidden;
    border-radius: 50%;
}

.root .hero img {
    height: 10rem;
    width: 100%;
    width: auto;
    transform: scale(1.3);
}

.root .hero-text {
    flex-wrap: wrap;
    margin-left: 65px;
    display: flex;
    flex-direction: column;
}

.root .hero-text .title {
    font-size: 28px;
    padding: 4px 0 4px;
}

.root .hero-text .subtitle {
    font-size: 18px;
}

.root .subtitle a {
    color: #CAD2C5;
    padding: 4px;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px dotted #84A98C;
}

.root .subtitle a:hover {
    background-color: #52796f;
        color: #CAD2C5;
    border-radius: 12px;
    border-bottom: none;
}

.blog-summary {
    padding: 12px 0 0 0;
}

.blog-summary h1 {
    text-align: left;
    color: #091c18;
    padding-left: 130px;
}

.blog-list-items {
    padding: 0 130px 0px 120px;
}

.blog-list-items>div {
    margin: 32px 0 32px 0;
}

.cv-sections {
    flex: 1;
}

.cv-experience {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 50rem;
    text-align: left;
    margin-left: 120px;
}
    
.cv-experience-items {

}

.cv-experience-item {
    text-align: left;
    margin: 24px 0 24px 0;
}

.cv-leftalign {
    display: flex;
}

.cv-jobtitle {
    font-size: 24px;
}

.cv-company {
    text-align: left;
    font-weight: bold;
}

.cv-education {
    display: flex;
    text-align: left;
    margin-bottom: 45px;
}

.footer-space {
    margin-bottom: 45px;
}


.cv-stack {}