@import "../../colors";


.blog-post {
    min-height: 100dvh;

    .content {
        flex: 1;
        min-height: 100dvh;
        display: flex;
        flex-direction: row;
    }
    
    .blog-header {
        display: flex;
        align-items: center;
    
        h1 {
            margin: 2rem;
        }
    
        a {
            border: 1px solid;
            padding: 0.25rem 1rem;
            border-radius: 1.25rem;
            text-decoration: none;
            color: $primary-4;
        }

        a:hover {
            background-color: $primary;
            color: $primary-light;
        }
    
        span {
            margin-left: auto;
        }
    }
    
    .blog {
        flex: 6;
        padding: 0.25rem 2rem;
        font-family: 'Open Sans', sans-serif;

        p {
            margin: 1rem auto;
        }

        a {
            text-decoration: none;
            padding-bottom: -0.45rem;
            color: $primary;
            border-bottom: 1px solid $primary-4;
        }
    }
    
}
