.not-found-container {
    min-height: 85dvh;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 2rem;
        }
    
        p {
            font-size: 1.25rem;
            padding-bottom: 3rem;
        }
    
        img {
            width: 500px;
        }
    }


}