$white: #E6E9EA;
$white-100: #bfbfbf;
$bg-color: #1C2025;

.index {
    min-height: 100dvh;
    display: grid;
    grid-template-columns: 1fr;
    background-color: $bg-color;
}

.left-bar {
    position: relative;
}

@media (min-width: 46em) {
    .index {
        grid-template-columns: 1fr 2.7fr;
    }

    .intro {
        display: flex;
        gap: 0.5rem;
        max-height: 60dvh;
        font-size: 1.5rem;
    }
}

.intro {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    position: relative;
    padding: 0 1.25rem 2rem 1.25rem;

    p {
        font-size: large;
        margin-top: -0.3rem;
        font-family: 'Open Sans', sans-serif;
        color: $white;
        z-index: 1;
    }

    a {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        color: $white-100;
        font-weight: 600;
    }
}

.headshot {
    justify-self: center;
    border-radius: 50%;
    max-width: 200px;
    outline: 3px solid #135856;
}

.blog {
    padding-top: 1rem;
    background-color: #FAF9F6;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    padding: 1rem;

    .blog-title {
        padding-left: 1rem;
    }
}


// Do the cool background circles thingy
.circle-scatter {
    width: 100%;
    height: 100%;

    background: url("../assets/circle-scatter.svg");
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;

    inset: auto 0 0 auto;
    bottom: 0px;
    margin: 0;
    opacity: 0.3;
    background-position: top left;
}