.blog-post {
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #EEEEEE;
    h1 {
        font-size: 1.25rem;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}