---
const { title, url, summary } = Astro.props;
import "./BlogPost.scss"
---

<div class="blog-post">
    <h1>
        <a href={url}>{title}</a>
    </h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio iusto ipsum suscipit aspernatur labore tenetur dolorum alias dolorem sint quaerat. Alias rerum obcaecati doloremque consequuntur suscipit exercitationem impedit expedita nemo.
    </p>

    <a href={url}>Read more...</a>
</div>