---
import "./Footer.scss"
---

<div class="footer">
	This website was developed by a team of mosquitos who have been interrupting my sleep.
    <a href="https://github.com/ParadauxIO/paradaux.io">Source available</a>
</div>