$nav-text-color: white;

.external-link {
    display: flex;
    img {
        width: 1rem;
    }
}

.primary-header {
    padding: 1rem;
    .title {
        
        padding-left: 1.25rem;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
    background-color: #1C2025;
    align-items: center;
    justify-content: space-between;

    h1 {
        color: white;
    }
}

.hamburger {
    position: absolute;
    background-color: red;
    display: block;
    width: 35px;
    aspect-ratio: 1;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 10px; // To account for the underline
    appearance: none; // <button/> reset
    background: none;
    outline: none;
    border: none;
    z-index: 9999;
    top: 1rem;
    right: 1rem;
}

.primary-navigation {
    --gap: 2.5rem;

    list-style: none;
    color: $nav-text-color;
    z-index: 100;

    // Transparent black for browsers which don't support blur
    background: hsl(0 0% 0% / .8); 

    a {
        font-size: 1.35rem;
        color: inherit;
        text-decoration: none;
    }    
}

// Use a neat background blur if the browser supports it
@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsla(0, 0%, 14%, 0.4);
        backdrop-filter: blur(1rem);
    }
}

@media (max-width: 45em) {
    .primary-navigation {
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        transform: translateX(100%);
        transition: transform 500ms ease-out;
    }       

    .primary-navigation[data-visable="true"] {
        transform: translateX(0%);
    }

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-9px, -8px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }

    .hamburger .bar, .hamburger:after, .hamburger:before {
        display: block;
        content: '';
        width: 100%;
        height: 5px;
        background-color: white;
        margin: 6px 0px;
        transition: transform 0.4s;
    }
    
}