<header class="header">
    <div class="container">
        <nav class="nav">
            <div class="logo">Rían Errity</div>
            <div class="nav-links">
                <a href="#projects" class="nav-link">Projects</a>
                <a href="#contact" class="nav-link">Contact</a>
            </div>
        </nav>
    </div>
</header>

<style lang="scss">
  .header {
    border-bottom: 1px solid #e5e7eb;
  }

  .container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem 1rem; // py-6 px-4
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 1.5rem;  // text-2xl
    font-weight: 700;   // font-bold
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 1rem; // gap-4
  }

  .nav-link {
    font-size: 0.875rem; // text-sm
    font-weight: 500;    // font-medium
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
</style>