@import "../../colors";

.blog {
    margin-top: 5rem;
}

.blog-list-item {
    background-color: #EEE;
    border-radius: 12px;
    margin: 0.5rem 0.75rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;

    img {
        flex: 1;
        width: 64px;
        height: 64px;
        padding: 7;
    }

    div {
        flex: 7;
        .title {
            font-family: 'Nunito', sans-serif;
            font-weight: 800;

            span {
                font-family: 'Nunito', sans-serif;
            }
        }

        p {
            font-family: 'Open Sans', sans-serif;
        }

        a {
            text-decoration: none;
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                font-family: 'Nunito', sans-serif;
                font-weight: bold;
                color: $primary;
            }

            span {
                font-family: 'Open Sans', sans-serif;
                font-size: 0.8rem;
                color: $primary-dark
            }
        }
    }
}