.blog-list-item {
    display: flex;
    background-color: #f1f3f0;
    min-height: 120px;
    padding: 12px 50px 12px 50px;
    border-radius: 12px;
}

.blog-list-right {
    text-align: left;
}

.blog-list-right h1 {
    padding: 0 0 0 12px;
    margin: 0;
    color: #091c18;
}

.blog-list-right p {
    padding: 0 0 0 12px;
    text-align: left;
    font-size: 18px;
}

.blog-list-left {
    text-align: left;
}

.blog-list-date {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    flex-direction: column;
}

.blog-list-date .day-suffix {
    font-size: 17px;
    text-transform: none;
}

.blog-list-date .month {
    text-align: center;
    font-size: 24px;
    letter-spacing: 3px;
}

.text-sideways {
    padding-top:32px;
    padding-bottom: 12px;
    transform: rotate(-90deg);
}

.blog-list-right a {
    color: #2F3E46;
    padding: 4px;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px dotted #84A98C;
}