.footer {
    position:fixed;
    left:0;
    bottom:0;
    right:0;
    background-color: #CAD2C5;
    padding: 12px 0 12px 0;
    font-size: 16px;
}

.footer a {
    color: #2F3E46;
    padding: 4px;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 2px dotted #84A98C;
}