---
import RootLayout from "./RootLayout.astro";
import "./BlogPostLayout.scss"

const { frontmatter } = Astro.props;
---
<RootLayout 
	author={frontmatter.author}
	description={frontmatter.summary30}
	type={"article"}
	title={frontmatter.title}
>
	<main class="blog-post-page">
		<h1>
			{frontmatter.title}
		</h1>
	
		<main >
			<slot />
		</main>
	</main>
</RootLayout>