---
import Header from "../components/Header.jsx";
import "../styles/fonts.scss";
import "../styles/reset.scss";
import "../styles/utilities.scss";
import '../styles/global.scss';

const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Paradaux | {title}</title>
  </head>
  <body>
    <Header client:load/>
    <slot/>
  </body>
</html>